* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f7fa;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 120px;
  padding-top: 80px;
}

.left-content {
  max-width: 400px;
  margin-top: 100px;
}

.left h1 {
  font-size: 3rem;
  color: #0a2e65;
  font-weight: 700;
}

.left p {
  margin-top: 15px;
  color: #adbacd;
  font-size: 25px;
  margin-bottom: 15px;
}

.small {
  color: #8388a4;
  font-size: 15px;
}

.small a {
  font-size: 15px;
  color: #0066f6;
  text-decoration: none;
  font-weight: bold;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.form-box {
  background: #fff;
  padding: 50px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* SOCIAL BUTTONS */
.social-btn {
  display: flex;
  gap: 10px;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  color: #0a2e65;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  box-shadow: 0 10px 30px #e0e4eb;

}

/* DIVIDER */
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  color: #9ca3af;
}

.divider hr {
  flex: 1;
  border: 1px solid #f3f4f7;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

input:focus {
  border-color: #2563eb;
}

/* PASSWORD */
.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
  padding-right: 40px;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #6b7280;
}

.password-box span img {
  width: 20px;
  height: 20px;
  color: #b5c0d0;
}

/* LINKS */
.forgot {
  font-size: 14px;
  color: #0066f5;
  text-decoration: none;
}

/* BUTTON */
.submit {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #0066f5;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.submit:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

/* FOOTER */
.footer {
  margin-top: 20px;
  font-size: 14px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  gap: 50px;
  color: #9ca3af;
}


.footer a {
  color: #2563eb;
  text-decoration: none;
}

.links {
  color: #9ca3af;
}


/* Signup */

.signup-container {
  display: flex;
  min-height: 100vh;
}

.signup-left {
  flex: 1;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
}

.signup-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #0a2e65;
}

.signup-box {
  margin-top: 80px;
  background: #fff;
  padding: 50px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.signup-box h1 {
  width: 100%;
  max-width: 400px;
  font-size: 3rem;
  color: #0a2e65;
  margin-bottom: 20px;
}

.signup-box p {
  margin-bottom: 25px;
  color: #6b7280;
}

.signup-box p a {
  text-decoration: none;
}

.signup-google-btn {
  width: fit-content;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  color: #0a2e65;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.signup-google-btn:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.signup-divider {
  display: flex;
  align-items: center;
  color: #7f8aa3;
  gap: 10px;
  margin: 20px 0;
}

.signup-divider hr {
  flex: 1;
  border: 1px solid #f3f4f7;
}

.signup-left input {
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
}

input:focus {
  border-color: #2563eb;
}

.signup-continue {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #0066f5;
  color: white;
  font-weight: bold;
}

.signup-right {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 150px;
}

.signup-right-box {
  max-width: 350px;
}

.signup-right-box h2{
  color: #0a2e65;
  margin-bottom: 20px;
}

.signup-right-box p {
  color: #6c82a3;
  font-size: 18px;
  margin-bottom: 20px;
}

.signup-right-box a {
  color: #0066f5;
  text-decoration: none;
  font-weight: 600;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
}

.signup-footer {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  color: #9ca3af;
}

.signup-footer p img{
  width: 20px;
  height: 20px;
}

.signup-footer a {
  text-decoration: none;
}







/* RESPONSIVENESS */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    min-height: auto;
  }

  .left {
    padding: 20px;
  }

  .left h1 {
    font-size: 2.5rem;
  }

  .left-content {
    margin-top: 40px;
  }

  .right {
    padding: 20px;
  }

  .form-box {
    padding: 25px;
  }

  .social-btn {
    flex-direction: column;
  }

  .footer {
    font-size: 12px;
    gap: 20px;

  }

  /* Signup */
  .signup-container {
    flex-direction: column;
  }

  .signup-left {
    padding: 20px;
  }

  .signup-box {
    margin-top: 40px;
  }

  .signup-box h1 {
    font-size: 2.2rem;
  }

  .signup-right {
    padding: 20px;
    text-align: center; 
  }

  .signup-right-box {
    margin-top: 40px;
  }

  .signup-right-box h2 {
    display: none;
  }

  .signup-footer{
    font-size: 12px;
  }

}